body {
    
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXNJfcHdNw47iZqFMVR4HKmEF4_q0ILR5MVg&s");
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
 /*background-color:rgb(90, 52, 2);*/
  background-size: 90%;
  font-family: sans-serif;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

.established {
  font-style: italic;
}

h1, h2, p {
  text-align: center;
}

.menu {
  width: 80%;
  background-color: rgb(248, 190, 113);
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

h1, h2 {
  font-family: Impact, serif;
}

.item p {
  display: inline-block;
}

.flavor, .dessert {
  text-align: left;
  width: 75%;
}

.price {
  text-align: right;
  width: 25%
}

img{
    width:30%;
    /*https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg*/
}